doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='components/jquery/dist/jquery.js')
    script(src='javascripts/control.js')
    // Don't have to type 'public' front because app.use(express.static(path.join(__dirname, 'public')));
  body
    block content
