
.jumbotron
	h1 Database Page
	P Convert JSON to MongoDB Data

.container
	.panel.panel-default
		.panel-heading Database
		.panel-body
			.input-group
				select#collection.form-control
					option Renewables
					option High Tech Energy
				button#insertValidData.btn-default Insert Valid Data
				button#getAll.btn-default Get All
				button#emptyCollection.btn-default Empty Collection

	.panel.panel-default
		.panel-heading Result
		.panel-body
				pre#data