extends layout

block content
  h1= title
  p Welcome to #{title}

  button.homeButton.btn.btn-primary Home
  button.renewablesButton.btn.btn-warning  Renewables
  button.renewablesByIndexButton.btn.btn-info  RenewablesByIndex
  button.renewablesByYearButton.btn.btn-danger RenewablesByYear
  button.aboutButton.btn.btn-success  About
  button.energyOverviewButton.btn.btn-primary EnergyOverview
  button.energyTypesButton.btn.btn-danger EnergyTypes
  button.msnTypesButton.btn.btn-warning MSNTypes
  #elf-view
