doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/components/bootswatch/cyborg/bootstrap.css')
    //link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
    script(data-main='javascripts/main.js' src='components/requirejs/require.js')
    //requirejs knows where/how/what to load a file which is not html file
  body
    block content
