extends layout

block content
  h1= title
  p Welcome to #{title}

  button#workButton Work
  button#aboutButton  About

  #elf-view
//
    p.basicDiv
      button#getByYear displayDataByYear
      input#year(type='number', value='2006')

    p.basicDiv
      button#getByIndex displayDataByIndex
      input#index(type='number', value='1')

    hr

    p.basicDiv
      button#getData displayData

    pre#display