//
   Created by bcuser on 5/23/16.

.jumbotron
    h1 Renewables By Year

    .alert.alert-success
        p#display

    .alert.alert-info
        p#display2

    .alert.alert-warning
        input#year(type="number", value ='2006')

        pre#debug